body {
    background: #e5e5e5;
    color: #25282b;

    text-align: center;

    margin: 0;
}

#container {
    width: 90%;
    max-width: 980px;
    
    margin-left: auto;
    margin-right: auto;
}

button {
    color: #ff5e84;
    border: none;

    font-weight: bold;
    background: none;
}


.fat {
    color: #ffffff;
    background: #ff5e84;
}

#footer a {
    text-decoration: none;
    color: #25282b;
}

.hide {
    display: none;
}


