{% extends "layout.html" %}
{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
    <header>
        <a href="/">
            <img src="/img/Logo.png" alt="Logo da Casa Criativa">
        </a>

        <nav>
            <li><a href="/">Início</a></li>
            <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
        </nav>
    </header>

    <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
    </section>

    <main>
        <section id="ideas">

            {% include "all_ideas.html" %}
        </section>
    </main>

    <footer>
        <p id="footer">Com ❤️ <a href="http://rocketseat.com.br" target="_blank">Rocktseat</a></p>
    </footer>
{% endblock %}